@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&family=Zen+Dots&display=swap');
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.navigation {
  height: 90px;
  width: 500px;
  background-color: #f9fafb;
  border-radius: 20px;
}
.nav {
  height: 90px;
  width: 400px;
}
.nav-list-items {
  width: 100px;
}

.text {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-weight: 500;
  transform: translateY(170%) scale(0);
  opacity: 0;
  transition: all ease-in-out .3s;
}

.icon {
  font-size: 24px;
  color: #333;
  transition: all ease-in-out .3s;
}

.icon.active {
  transform: scale(1.8) translateY(-80%);
  transition: all ease-in-out .3s;
}

.icon.active ~ .text {
  transform: translateY(0) scale(1);
  opacity: 1;
  transition: all ease-in-out .3s;
}

